@import "tailwindcss";

@font-face {
  font-family: "PolySans";
  src: url("/fonts/PolySans/polysanstrial-bulky.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.woff2") format("truetype");
  font-style: normal;
}

:root {
  --background: #fff;
  --primary: #466fff;
  --secondary: #858bec;
  --tertiary: #50baf6;
  --quaternary: #634ab0;
  --quinary: #faff00;
  --font-generalSans: "General Sans", sans-serif;
  --font-polySans: "PolySans", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
  --color-quinary: var(--quinary);
  --font-polySans: var(--font-polySans);
  --font-general-sans: var(--font-generalSans);
}
